
.DS_Store
.idea
.vscode
__pycache__
sphere.obj
runs
out
configs/superhyper
logs


/utils/dataset_prepare/inputs/
/utils/dataset_prepare/inputs_/
/utils/dataset_prepare/outputs/
/utils/dataset_prepare/simplified_meshes/
/utils/dataset_prepare/shapenet.13.zip
/utils/dataset_prepare/data_complete/
/utils/dataset_prepare/original_obj/
/utils/dataset_prepare/simplified_obj/
/utils/.ipynb_checkpoints
/data/
/utils/dataset_prepare/geodesic/
/logs
